<!DOCTYPE html>
<html>
<head>
<style>

/*body {
    background-color: ;
}
*/

h4 {
    color: black;
    text-align: left;
}

/*p {
    font-family: verdana;
    font-size: 12px;
}*/

/*table, th, td {
    border-bottom: 1px solid ;
    border-left: 1px solid #ddd;
}
th {
    text-align: left;
}*/


a {
    color: blue;
    font-size: 15px
}
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

</style>
</body>
</html>
